*
	padding: 0
	margin: 0
	border: 0
	transition: .7s ease-in-out
	box-sizing: border-box
*:before *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
a:focus,a:active
	outline: none
nav,footer,header,aside
	display: block
html,body
		height: 100%
		width: 100%
		font-size: 100%
		line-height: 1
		font-size: 14px
		// padding: 0px 30px 0px 30px
		font-family: 'Raleway', sans-serif
		-ms-text-size-adjust: 100%
		-moz-text-size-adjust: 100%
		-webkit-text-size-adjust: 100%
		margin: 0 auto
input,button,textarea
	// font-family: inherit
input::-ms-clear
	display: none
input
	&::-webkit-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-moz-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&:-ms-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-webkit-inner-spin-button
		-webkit-appearance: none
	&::-webkit-outer-spin-button
		-webkit-appearance: none
	&[type='number']
		-moz-appearance: textfield
button
	cursor: pointer
button::-moz-focus-inner
	padding: 0
	border: 0
a,a:visited
	text-decoration: none
a:hover
	text-decoration: none
ul li
	list-style: none
img
	// vertical-align: top
h1,h2,h3,h4,h5,h6
	font-size: inherit
	// font-weight: inherit
/*----------------------------Start--Project----------------*/

$bl: #28aae1

// ---------------------1-section-------------------


.top
	max-width: 100%
	background-image: url(../img/Layer11.png)
	background-repeat: repeat
	position: relative
	height: 100vh
	margin: 0
	padding: 0
	top: 0
	left: 0
	display: flex
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	text-align: center
	-webkit-align-items: center
	align-items: center
	margin: 0 auto

	&__menu
		width: 100%
		padding: 10px
		position: fixed
		left: 0
		text-align: center
		display: flex
		-webkit-justify-content: center
		justify-content: center
		margin: 0 auto
		@media(max-width:1800px)
			max-width: 100%
			left: 00%
		@media(max-width:1600px)
			max-width: 100%
			left: 0%
		@media(max-width:1400px)
			max-width: 100%
			left: 0%
		@media(max-width:1100px)
				position: fixed
				top: 220px
				left: -48%
				display: flex
				-webkit-justify-content: flex-start
				justify-content: flex-start
				-webkit-transform: rotate(-90deg)
				-moz-transform: rotate(-90deg)
				-ms-transform: rotate(-90deg)
				-o-transform: rotate(-90deg)
				transform: rotate(-90deg)
		ul
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			-webkit-justify-content: center
			justify-content: center
			-webkit-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			li
				padding: 10px 20px
				a
					font-size: 15px
					color: #FFF
					padding: 3px 3px
					font-weight: bold
					&:hover
						font-size: 18px
						background-color:  $bl
						-webkit-border-radius: 10px
						border-radius: 10px
				
	&__name
		position: relative
		top: 20vh
		width: 600px
		h1
			font-size: 70px
			color: #fff
		
	&__text
		width: 700px
		span
			position: relative
			top: 35vh
			font-size: 20px
			color: #FFF
			line-height: 1.7
			p
				padding: 0 20px
				width: 700px
				@media(max-width:700px)
				width: 400px
				margin: 0 auto
	&__social
		ul
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			-webkit-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			position: relative
			top: 40vh
			img
				padding: 0 20px
				@media(max-width:900px)
					width: 100%
					height: 100%
					padding: 25px 5px
				@media(max-width:800px)
					width: 100%
					height: 100%
					padding: 30px 2px
				@media(max-width:700px)
					width: 100%
					height: 100%
					padding: 30px 1px
				@media(max-width:600px)
					display: none
				&:hover
					transform: rotate(-45deg)
	&__scroll
		img
			display: block
			position: relative
			bottom: -45vh
			left: 0vh
			transform: rotate(180deg)
			-webkit-transition: all .3s ease-in-out
			-moz-transition: all .3s ease-in-out
			-o-transition: all .3s ease-in-out
			transition: all .3s ease-in-out
			@media(max-width:1400px)
				bottom: -43vh
			@media(max-width:900px)
				bottom: -39vh
			@media(max-width:800px)
				bottom: -38vh
			@media(max-width:700px)
				bottom: -37vh
			@media(max-width:600px)
				bottom: -45vh
			&:hover
				background: $bl
				border: 10px solid $bl
				-webkit-border-radius: 50%
				border-radius: 50%
				transition: .3s ease-in-out



// ----------------------2-section-----------------------


.about
	background-color: #444444
	background-repeat: repeat
	height: 100vh
	margin: 0 auto
	padding: 0
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-justify-content: center
	justify-content: center
	@media(max-width:980px)
		display: flex
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		-webkit-align-items: center
		align-items: center
		height: 100%
	&__foto
		padding: 150px 100px 0 0
		@media(max-width:980px)
			padding: 60px 0 0 0
		img
			-webkit-border-radius: 50%
			border-radius: 50%
	&__content
		width: 600px
		padding: 170px 0 0 0
		@media(max-width:980px)
			padding: 30px 0 0 0
		&-me
			display: flex
			-webkit-align-items: center
			align-items: center
			-webkit-flex-direction: column
			-ms-flex-direction: column
			flex-direction: column
		h2
			font-size: 25px
			color: #FFF
			padding: 20px 0
			@media(max-width:980px)
				text-align: center
		span
			display: flex
			-webkit-justify-content: center
			justify-content: center
			font-size: 18px
			color: #FFF
			@media(max-width:980px)
				width: 800px
				padding: 10px 20px
			@media(max-width:980px)
				width: 500px
				padding: 10px 30px
		&-details
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			padding: 30px
			@media(max-width:900px)
				display: flex
				-webkit-align-items: center
				align-items: center
				-webkit-justify-content: center
				justify-content: center
			h2
				font-size: 25px
				color: #FFF
				padding: 20px 0 20px 0
			li
				font-size: 14px
				color: #FFF
				padding: 10px 0
		&-contact
			width: 150px
.about__content-button
	margin: 100px 0 0 100px
	@media(max-width:900px)
		margin: 0px 0 0 0px
	button
		width: 230px
		height: 50px
		background-color: $bl
		-webkit-border-radius: 8px
		border-radius: 8px
		font-size: 16px
		color: #000
		&:hover
			width: 250px
			height: 60px
					

// ----------------------3-section-----------------------

.education, .work
	background-color: #323639
	max-width: 100%
	height: 100vh
	display: flex
	-webkit-justify-content: center
	justify-content: center
	text-align: left
	color: #d1d1d1
	padding: 200px 0 0 0
	@media(max-width: 750px)
		padding: 100px 0 0 0
	&__left
		font-size: 25px
		padding: 0 100px 0 0
		@media(max-width: 750px)
			padding: 0 50px 0 20px
	&__right
		width: 600px
		@media(max-width: 750px)
			padding: 0 20px
	&__right-top
		padding-bottom: 60px
		border-bottom: 1px dashed #acacac
		h2
			font-size: 30px
			padding-bottom: 20px
		h3
			font-size: 22px
			padding-bottom: 20px
		span
			font-size: 18px
			padding-bottom: 35px
	&__right-bottom
		margin: 40px 0
		border-bottom: 1px dashed #acacac
		padding-bottom: 60px
		h2
			font-size: 30px
			padding-bottom: 20px
		h3
			font-size: 22px
			padding-bottom: 20px
		span
			font-size: 18px
			padding-bottom: 35px
.work
	padding-left: 4%
	@media(max-width: 750px)
		padding-left: 9%
















































































