*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}

ul{
  list-style: none;
}

a {
text-decoration: none;
outline: none;
}

hr {
  border: none; 
  background-color: white; 
  height: 2px; 
}

img {
display: block;
}

h1, h2, h3, h4, h5, h6 {
font-weight: normal;
letter-spacing: 1px;
}

p:not(:nth-child(3n)) {
  margin-right: 3%;
}

/*-------------------Прелоадер на javascript--------------  */
#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: #18212e;
  z-index: 1;
}
 
.contpre small {
  font-size:25px;
}
 
.contpre {
  position: absolute;
  left: 50%;top: 48%;
  margin-left:-125px;
  margin-top:-75px;
  color:#fff;
  font-size:40px;
  letter-spacing:-2px;
  text-align:center;
  line-height:35px;
}
 

#p_prldr .svg_anm {
  position: absolute;
  width: 300px;
  height: 340px;
  background: url(../img/zUR.gif) center center no-repeat;
  background-size:300px;    
  margin: -90px 0 0 -20px;
}
/*-------------------Прелоадер на javascript--------------  */




/*__________________________GO___Style_________________________________*/



body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 14px;
line-height: 1;
color: #373737;
background: #f7f7f7;
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, footer:after{
content: "";
display: table;
clear: both;
} 
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
padding: 0 15px;
display: flex;

} 

.header__img img {
 border-radius: 3%;
}
.container__header {
  justify-content: flex-start;
  flex-direction: row;
  align-items: baseline;
} 

/*------------------software--------------------------*/


/*------------------skills--------------------------*/

/*------------------languages--------------------------*/

/*------------------experience--------------------------*/

/*------------------education--------------------------*/

/*-------------------------------------------------------------*/