*
	padding: 0
	margin: 0
	border: 0
	transition: .7s ease-in-out
	box-sizing: border-box
*:before *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
a:focus,a:active
	outline: none
nav,footer,header,aside
	display: block
html,body
		height: 100%
		width: 100%
		font-size: 100%
		line-height: 1
		font-size: 14px
		// padding: 0px 30px 0px 30px
		font-family: 'Raleway', sans-serif
		-ms-text-size-adjust: 100%
		-moz-text-size-adjust: 100%
		-webkit-text-size-adjust: 100%
		margin: 0 auto
		outline: none
input,button,textarea
	// font-family: inherit
input::-ms-clear
	display: none
input
	&::-webkit-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-moz-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&:-ms-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-webkit-inner-spin-button
		-webkit-appearance: none
	&::-webkit-outer-spin-button
		-webkit-appearance: none
	&[type='number']
		-moz-appearance: textfield
button
	cursor: pointer
button::-moz-focus-inner
	padding: 0
	border: 0
a,a:visited
	text-decoration: none
a:hover
	text-decoration: none
ul li
	list-style: none
img
	// vertical-align: top
h1,h2,h3,h4,h5,h6
	font-size: inherit
	// font-weight: inherit
/*----------------------------Start--Project----------------*/

$bl: #c92472

// ---------------------1-section-------------------
.full
	max-width: 100%
	height: 100%

.top
	max-width: 100%
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-image: url(../img/billboard21.jpg)
	background-repeat: no-repeat
	position: relative
	height: 100%
	margin: 0
	padding: 0
	top: 0
	left: 0
	display: flex
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	text-align: center
	-webkit-align-items: center
	align-items: center
	margin: 0 auto
	@media(max-width:1400px)
		background-image: url(../img/billboard21.jpg)

	&__menu
		width: 100%
		padding: 10px
		position: fixed
		left: 0
		text-align: center
		display: flex
		-webkit-justify-content: center
		justify-content: center
		margin: 0 auto
		z-index: 9 
		background-color: rgba(248, 235, 226, 0.2)
		background-image: url(../img/shadow.png)
		@media(max-width:1800px)
			max-width: 100%
			left: 0%
		@media(max-width:1600px)
			max-width: 100%
			left: 0%
		@media(max-width:1400px)
			max-width: 100%
			left: 0%
		ul
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			-webkit-justify-content: center
			justify-content: center
			-webkit-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			li
				padding: 10px 20px
				a
					font-size: 15px
					color: #242424
					padding: 3px 3px
					font-weight: bold
					&:hover, &:focus
						font-size: 18px
						background-color: $bl
						-webkit-border-radius: 10px
						border-radius: 10px
						&:focus
							border-bottom: 5px solid red
	&__name
		position: relative
		top: 20vh
		h1
			font-size: 70px
			color: #242424
	&__text
		span
			position: relative
			top: 35vh
			font-size: 20px
			color: #242424
			line-height: 1.7
			p
				padding: 0 20px
				width: 70%
				height: 250px
				display: inline-flex
				@media(max-width:700px)
					margin: 0 auto
					height: 250px
				@media(max-width:400px)
					display: none
	&__social
		display: flex
		justify-content: center
		ul
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			-webkit-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			position: relative
			top: 40vh
			a
				&:focus
					outline: 5px solid red
			img
				padding: 0 20px
				&:hover
					transform: rotate(145deg)
				@media(max-width:900px)
					width: 100%
					height: 100%
					padding: 25px 5px
				@media(max-width:800px)
					width: 100%
					height: 100%
					padding: 30px 2px
					margin: -5px 
				@media(max-width:700px)
					width: 100%
					height: 100%
					padding: 30px 1px
				@media(max-width:600px)
					display: none
	&__scroll
		display: flex
		justify-content: center
		a
			display: block
			position: relative
			bottom: -45vh
			left: 0vh
			outline: none
			z-index: 8
			@media(max-width:1400px)
				bottom: -43vh
			@media(max-width:900px)
				bottom: -39vh
			@media(max-width:800px)
				bottom: -38vh
			@media(max-width:700px)
				bottom: -37vh
			@media(max-width:600px)
				bottom: -50vh
			@media(max-width:520px)
				bottom: -45vh
			@media(max-width:400px)
				bottom: -73vh
			&:focus
				outline: 5px solid red
		img
			transform: rotate(180deg)
			-webkit-transition: all .3s ease-in-out
			-moz-transition: all .3s ease-in-out
			-o-transition: all .3s ease-in-out
			transition: all .3s ease-in-out
			outline: none
			z-index: 8
			
			&:hover
				background: #282923
				-webkit-border-radius: 50%
				border-radius: 50%
				transition: .7s ease-in-out
.shadow
	background-image: url(../img/shadow.png)
	background-repeat: repeat-x
	position: absolute
	width: 100%
	height: 140px
	bottom: 0
	left: 0
	margin-bottom: -1px

// ----------------------2-section-----------------------


.about
	background-color: #e5adb3
	background-repeat: repeat
	height: 100%
	margin: 0 auto
	padding: 0
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-justify-content: center
	justify-content: center
	@media(max-width:980px)
		display: flex
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		-webkit-align-items: center
		align-items: center
		height: 100%
	&__foto
		padding: 120px 100px 0 0
		@media(max-width:980px)
			padding: 60px 0 0 0
		img
			-webkit-border-radius: 50%
			border-radius: 50%
	&__content
		width: 50%
		padding: 100px 0 0 0
		@media(max-width:980px)
			padding: 30px 0 0 0
			width: 80%
		&-me
			display: flex
			-webkit-align-items: center
			align-items: center
			-webkit-flex-direction: column
			-ms-flex-direction: column
			flex-direction: column
		h2
			font-size: 25px
			color: #242424
			padding: 20px 0
			@media(max-width:980px)
				text-align: center
		span
			display: flex
			-webkit-justify-content: center
			justify-content: center
			font-size: 18px
			color: #242424
			line-height: (1.3)
			@media(max-width:980px)
				padding: 10px 20px
			@media(max-width:980px)
				padding: 10px 30px
		&-details
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			padding: 30px
			@media(max-width:900px)
				display: flex
				-webkit-align-items: center
				align-items: center
				-webkit-justify-content: center
				justify-content: center
			h2
				font-size: 25px
				color: #242424
				padding: 20px 0 20px 0
			li
				font-size: 14px
				color: #242424
				padding: 10px 0
		&-contact
			width: 150px
.about__content-button
	margin: 100px 0 0 100px
	@media(max-width:900px)
		margin: 0 auto
	button
		width: 150px
		height: 50px
		background-color: $bl
		-webkit-border-radius: 8px
		border-radius: 8px
		font-size: 16px
		color: #000
		&:hover, &:focus
			width: 250px
			height: 60px
			&:focus
				outline: 5px solid red


// ----------------------3-section-----------------------

.education, .work
	background-color: #eec0e9
	max-width: 100%
	height: 100%
	display: flex
	-webkit-justify-content: center
	justify-content: center
	text-align: left
	color: #242424
	padding: 80px 0 30px 0
	line-height: (1.3) 
	@media(max-width: 980px)
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		-webkit-align-content: center
		align-content: center
		padding: 80px 30px 30px 30px
	&__left
		font-size: 25px
		padding: 0 100px 0 0
		h2
			padding: 0 30px 0 75px
		@media(max-width: 750px)
			padding: 0 35px 0 30px
	&__right
		width: 100%
		padding: 30px
		@media(max-width: 750px)
			padding: 0 20px
	&__right-top
		padding-bottom: 60px
		border-bottom: 1px dashed #242424
		h2
			font-size: 30px
			padding-bottom: 20px
		h3
			font-size: 22px
			padding-bottom: 20px
		span
			font-size: 18px
			padding-bottom: 35px
		p
			width: 80%
			@media(max-width: 900px)
				width: 100%
	&__right-bottom
		margin: 40px 0
		border-bottom: 1px dashed #242424
		padding-bottom: 60px
		h2
			font-size: 30px
			padding-bottom: 20px
		h3
			font-size: 22px
			padding-bottom: 20px
		span
			font-size: 18px
			padding-bottom: 35px
		p
			width: 80%
			@media(max-width: 900px)
				width: 100%
.work
	padding: 50px 0 0 45px
	@media(max-width: 980px)
		padding: 30px

// --------------4- section--------

.skills
	background-color: #e49ed8
	max-width: 100%
	height: 100%
	display: flex
	text-align: left
	color: #242424
	padding: 80px 0 30px 70px
	line-height: (1.3)
	margin: 0 auto
	text-align: left
	@media(max-width: 980px)
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		-webkit-align-content: center
		align-content: center
		padding: 10px 30px 30px 30px
	&__name
		padding: 0 100px 0 50px
		@media(max-width: 750px)
			padding: 0px 35px 15px 30px
		h2
			font-size: 30px
			
	&__content
		display: flex
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		padding-left: 50px
		@media(max-width: 750px)
			padding-left: 30px
	&__text
		width: 100%
		@media(max-width: 750px)
			width: 100%
		p
			font-size: 18px
			padding-bottom: 35px
			width: 80%
.skill__box
	padding-bottom: 50px
	display: inline-flex
	-webkit-justify-content: flex-start
	justify-content: flex-start
	&-one, &-two
		display: flex
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
	ul
		padding-right: 50px

	li
		font-size: 22px
		font-weight: bold

// -------------5- section--------

.gallary
	width: 100%
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-justify-content: center
	justify-content: center
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	padding: 50px 0
	background-color: #efb8b8 
	&__name
		text-align: center
		h2
			font-size: 40px
			color: #000
			padding: 50px 0 20px 0
		p
			font-size: 28px
			color: #000
			padding: 10px
	&__video
		width: 100%
		display: flex
		-webkit-flex-direction: row
		-ms-flex-direction: row
		flex-direction: row
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		-webkit-justify-content: space-around
		justify-content: space-around
		text-decoration: none
		padding: 15px
		video
			width: 400px
			height: 230px
			-webkit-border-radius: 10px
			border-radius: 10px
			@media(max-width:500px)
				width: 300px
				height: 130px
				margin-top: 30px
			&:hover, &:focus
				width: 410px
				height: 240px
	&__business, &__taxi, &__timberhouse

// --------foter---------



.contact
	margin: 0 auto
	width: 100%
	text-align: center
	padding: 30px 0 80px 0
	height: 100%
	background-color: #efa0a0
	&__me
		display: flex
		-webkit-flex-direction: row
		-ms-flex-direction: row
		flex-direction: row
		-webkit-justify-content: center
		justify-content: center
	&__name
		padding: 20px
		h2
			font-size: 40px
	&__phone, &__email
		padding: 20px 40px 30px 40px
		a
			font-size: 28px
			color: $bl
			&:hover, &:focus
				color: #8eaae7
				border: 1px solid $bl
				background-color: $bl
				-webkit-border-radius: 10px
				border-radius: 10px
				&:focus
					outline: 5px solid red
	&__social
		display: flex
		justify-content: center
		ul
			display: flex
			-webkit-flex-direction: row
			-ms-flex-direction: row
			flex-direction: row
			-webkit-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
			a
				&:focus
					outline: 5px solid red
			img
				padding: 0 20px
				&:hover
					transform: rotate(-154deg)





